Repository ymkz/ymkz.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format-typescript-files, format-svelte-files, format-other-files

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-typescript-files:
      glob: '*.{ts,tsx}'
      run: 'prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc'
    format-svelte-files:
      glob: '*.{ts,tsx}'
      run: 'prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc && npm run lint:svelte'
    format-other-files:
      glob: '*.{yml,json,css,html,md}'
      run: 'prettier --write {staged_files}'

refactor: Update motto text markup and social links alignment.
  public/index.html
  public/style.css
Due: format-other-files

style: Update site theme to light mode, refresh icons
  .vscode/settings.json
  public/apple-touch-icon.png
  public/avatar.png
  public/favicon.ico
  public/icon192.png
  public/icon512.png
  public/index.html
  public/site.webmanifest
Due: format-other-files

chore: update vscode settings
  .vscode/settings.json
Due: format-other-files

chore: modify wrangler settings
  wrangler.jsonc
Due: none

feat: use pnpm node management
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: format-other-files

feat: add automated cleanup for old Cloudflare Worker deployments via GitHub Actions.
  .github/workflows/cleanup-deployments.yml
  scripts/delete-workers-deployment.sh
Due: format-other-files

style: Increase avatar size and use paragraphs for profile description.
  public/index.html
  public/style.css
Due: format-other-files

chore: clean lockfile
  pnpm-lock.yaml
Due: none

chore: remove .css
  README.md
  biome.jsonc
  public/index.html
  public/style.css
Due: format-other-files

chore: add aspect-ratio
  public/index.html
Due: format-other-files

update npm dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update dot pulse animation
  public/index.html
Due: format-other-files

modify dot place to baseline
  public/index.html
Due: format-other-files

update github actions
  .github/workflows/ci.yml
  pnpm-workspace.yaml
Due: format-other-files

fix: approve pnpm build scripts
  pnpm-workspace.yaml
Due: none

chore: update pnpm node version handling
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-other-files

update
  pnpm-workspace.yaml
Due: none

chore: update pnpm node version handling (#1551)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-other-files

feat: generate resume and career history pdfs
  .github/workflows/ci.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/_headers
  public/index.html
  resume/build.test.ts
  resume/build.tsx
  resume/data.ts
  resume/document.tsx
  resume/fonts/BIZUDPGothic-Bold.ttf
  resume/fonts/BIZUDPGothic-Regular.ttf
  resume/fonts/OFL.txt
  resume/fonts/README.md
  tsconfig.json
  wrangler.jsonc
Due: format-typescript-files, format-svelte-files, format-other-files

refactor: download resume fonts at build time
  README.md
  resume/build.tsx
  resume/fonts/BIZUDPGothic-Bold.ttf
  resume/fonts/BIZUDPGothic-Regular.ttf
  resume/fonts/OFL.txt
  resume/fonts/README.md
Due: format-typescript-files, format-svelte-files, format-other-files

refactor: inline resume content in JSX
  README.md
  resume/build.tsx
  resume/data.ts
  resume/document.tsx
Due: format-typescript-files, format-svelte-files, format-other-files

refactor: move resume sources under src and remove tests
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  resume/build.test.ts
  src/resume/build.tsx
  src/resume/document.tsx
  tsconfig.json
  wrangler.jsonc
Due: format-typescript-files, format-svelte-files, format-other-files

refactor: generate resume PDFs with Typst and JSON data
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/resume/build.mjs
  src/resume/build.tsx
  src/resume/career.typ
  src/resume/common.typ
  src/resume/data.json
  src/resume/document.tsx
  src/resume/resume.typ
  tsconfig.json
Due: format-typescript-files, format-svelte-files, format-other-files

fix: format PDF titles as name and document type
  src/resume/common.typ
Due: none

fix: disable indexing for all static pages
  README.md
  public/_headers
Due: format-other-files

refactor: move resume build script to scripts
  README.md
  package.json
  scripts/build-resume.mjs
  wrangler.jsonc
Due: format-other-files

refactor: watch only resume sources
  README.md
  wrangler.jsonc
Due: format-other-files

style: align html doctype with biome formatter
  public/index.html
Due: format-other-files

fix(deps): remove unsupported pnpm setting and lock pnpm version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: make favicon circular with transparent corners
  public/favicon.ico
Due: none

fix: make touch and app icons circular with transparency
  public/apple-touch-icon.png
  public/icon192.png
  public/icon512.png
Due: none

fix: make site icons circular with transparency (#1568)
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon192.png
  public/icon512.png
Due: none

chore: replace knip with fallow
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-other-files

chore: replace knip with fallow (#1569)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-other-files

feat: generate site and resume PDFs with Astro and Forme
  .gitignore
  README.md
  astro.config.mjs
  biome.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build-resume.mjs
  src/pages/career.astro
  src/pages/index.astro
  src/pages/resume.astro
  src/resume/Document.astro
  src/resume/Experience.astro
  src/resume/career.typ
  src/resume/common.typ
  src/resume/data.mjs
  src/resume/resume.typ
  wrangler.jsonc
Due: format-other-files

fix: publish resume documents as PDFs only
  README.md
  scripts/build-resume.mjs
Due: format-other-files

refactor: generate resume PDFs with plain Node.js
  .gitignore
  README.md
  astro.config.mjs
  biome.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/index.html
  scripts/build-resume.mjs
  src/pages/career.astro
  src/pages/resume.astro
  src/resume/Document.astro
  src/resume/Experience.astro
  src/resume/data.mjs
  src/resume/style.css
  src/resume/templates.mjs
  wrangler.jsonc
Due: format-other-files
