Repository ymkz/ymkz.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format-typescript-files, format-svelte-files, format-other-files

format-typescript-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-svelte-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc && npm run lint:svelte

format-other-files:
  run: prettier --write {staged_files}

chore(deps): update dependency eslint to v8.6.0
  package-lock.json
  package.json
Due: format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update node.js to v16.13.2
  .node-version
Due: none

fix(deps): update dependency next to v12.0.8
  package-lock.json
  package.json
Due: format-other-files

feat: v2
  .eslintignore
  .github/renovate.json
  .github/workflows/check-pr.yml
  .github/workflows/deploy-main.yml
  .gitignore
  .node-version
  .prettierignore
  .vscode/settings.json
  env.d.ts
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  scripts/build.mjs
  src/assets/avatar.webp
  src/main.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/public/apple-touch-icon.png
  src/public/avatar.png
  src/public/favicon.ico
  src/public/icon_x192.png
  src/public/icon_x512.png
  src/public/public.d.ts
  src/public/robots.txt
  src/public/site.webmanifest
  src/routes/apple-touch-icon.png.get.ts
  src/routes/avatar.png.get.ts
  src/routes/favicon.ico.get.ts
  src/routes/icon-x192.png.get.ts
  src/routes/icon-x512.png.get.ts
  src/routes/index.get.ts
  src/routes/robots.txt.get.ts
  src/routes/site.webmanifest.get.ts
  src/styles/global.css
  tsconfig.json
  wrangler.toml
Due: format-typescript-files, format-svelte-files, format-other-files

ci: deploy with production build
  .github/workflows/deploy-main.yml
Due: format-other-files

chore: fix image response
  .github/README.md
  .github/workflows/deploy-main.yml
  env.d.ts
  package-lock.json
  package.json
  script/build.js
  src/main.ts
  src/public/icon192.png
  src/public/icon512.png
  src/public/public.d.ts
  src/public/site.webmanifest
  src/public/style.css
  src/routes/apple-touch-icon.png.get.ts
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.get.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.get.ts
  src/routes/favicon.ico.ts
  src/routes/icon-x192.png.get.ts
  src/routes/icon-x512.png.get.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/index.get.ts
  src/routes/index.tsx
  src/routes/robots.txt.get.ts
  src/routes/robots.txt.ts
  src/routes/site.webmanifest.get.ts
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
  src/worker.ts
  wrangler.toml
Due: format-typescript-files, format-svelte-files, format-other-files

chore: add cache-control 7days
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/index.tsx
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
Due: format-typescript-files, format-svelte-files

chore: live-reload enable
  package.json
Due: format-other-files

chore: modify cache-control
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/index.tsx
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
Due: format-typescript-files, format-svelte-files

fix(deps): update dependency hono to v0.3.7
  package-lock.json
  package.json
Due: format-other-files

chore: add labels by renovate
  .github/renovate.json
Due: format-other-files

chore: modify renovate config
  .github/renovate.json
Due: format-other-files

chore(deps): update node.js to v16.14.0
  .node-version
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/check-pr.yml
  .github/workflows/deploy-main.yml
Due: format-other-files

chore: update node-version
  .node-version
Due: none

ci: update gha workflows
  .github/workflows/check-pr.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: format-other-files

chore: move README to root
  README.md
Due: format-other-files

chore: update by singleQuote true
  package.json
  script/build.js
  src/public/public.d.ts
  src/public/style.css
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/index.tsx
  src/routes/robots.txt.ts
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
  src/worker.ts
Due: format-typescript-files, format-svelte-files, format-other-files

Path conditions:
  format-typescript-files: any of: *.{ts,tsx}
  format-svelte-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,css,html,md}
