Repository ymkz/ymkz.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format-typescript-files, format-svelte-files, format-other-files

format-typescript-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-svelte-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc && npm run lint:svelte

format-other-files:
  run: prettier --write {staged_files}

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore: disable color bracket on svelte files
  .vscode/settings.json
Due: format-other-files

feat: back to nextjs
  .eslintignore
  .gitignore
  .node-version
  .npmrc
  .prettierignore
  .vscode/settings.json
  lefthook.yml
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon_x192.png
  public/icon_x512.png
  public/robots.txt
  public/site.webmanifest
  src/app.css
  src/app.d.ts
  src/app.html
  src/assets/avatar.webp
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/routes/__layout.svelte
  src/routes/index.svelte
  src/styles/global.css
  svelte.config.js
  tsconfig.json
Due: format-typescript-files, format-svelte-files, format-other-files

chore: remove useless npm script
  package.json
Due: format-other-files

chore: resize avatar image
  src/assets/avatar.webp
Due: none

Revert "chore: resize avatar image"
  src/assets/avatar.webp
Due: none

chore: re-resized avatar image
  src/assets/avatar.webp
Due: none

chore: add eslint-config-prettier
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency @types/react to v17.0.24
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update actions/setup-node action to v2.4.1
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: format-other-files

chore(deps): update dependency @types/react to v17.0.26
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency npm to v7.24.2
  package.json
Due: format-other-files

chore(deps): update dependency @types/react to v17.0.27
  package-lock.json
  package.json
Due: format-other-files

Path conditions:
  format-typescript-files: any of: *.{ts,tsx}
  format-svelte-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,css,html,md}
